.pagewrapper {
  text-align: center;
  display: grid;
  grid-template-columns: 180px;
  margin: 0;
  border-spacing: 0;
  border-collapse: collapse;
  column-gap: 0px;
  width: 100%;
}

.one {
  grid-column: 1 / 1;

  width: 180px;
  margin: 0;
  
}
.cards {
  grid-column: 2 / 2;
  flex-wrap: wrap;
  display: flex;


}
