.pagewrapper {
  text-align: center;
  background-color: red;
  display: grid;
  grid-template-columns: 0.1fr 0.9fr;
  margin: 0;
  border-spacing: 0;
  border-collapse: collapse;
  column-gap: 0px;
}

.one {
  grid-column: 1 / 1;
  border-style: double;
  border-color: purple;
  width: 170px;
  margin: 0;
  
}
.two {
  grid-column: 2 / 2;
  flex: wrap;
  border-style: double;
  border-color: green;
}
