.pagewrapper {
  text-align: center;
  display: grid;
  grid-template-columns: 180px;
  margin: 0;
  border-spacing: 0;
  border-collapse: collapse;
  column-gap: 0px;
  width: 100%;
}

.one {
  grid-column: 1 / 1;
  max-width: 180px;
  margin: 0;
  
}
.maininfocolumn{
  grid-column: 2 / 2;
  flex-wrap: wrap;
  display: flex;
  margin: 10px;
}

.twentyeightygrid {
  display: flex;
  min-height:100px;
  width: 100%;
  gap: 2em;

}

.twenty {
width:25%;
height: inherit;
margin-right: 20px;
}

.eighty{
display: inline-block;
width:75%;
height: inherit;
margin-right: 20px;
}