:root{
    --main-bg-color: #e8342c;
}

.container{
    bottom: 10px;
    position: absolute;
    max-width: 1000px;
	margin-right:auto;
	margin-left:auto;
	display:flex;
	justify-content:center;
	align-items:center;
}

.card{
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.75);
}

